<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- Color de la barra de navegación en móviles -->
  <meta name="theme-color" content="#1a1a1a">
  <meta name="msapplication-navbutton-color" content="#1a1a1a">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script src="/Joshi/assets/js/theme-toggle.js"></script>
</head>
<body>
  {{ content }}
</body>
</html>
